@model List<Polfarer.Models.Beer>
    
<table class="table table-condensed">
    <tr>
        <th>Name</th>
        <th>Brewery</th>
        <th>Alc</th>
        <th>Type</th>
        <th>Price</th>
    </tr>
    @foreach (var beer in Model)
    {
        <tr>
            <td><a href="https://untappd.com/search?q=@beer.Name">@beer.Name</a></td>
            <td>@beer.Brewery</td>
            <td>@beer.Alcohol %</td>
            <td>@beer.BeerCategory.ToString()</td>
            <td class="text-right">@beer.Price</td>
        </tr>
    }
</table>